.categoryList{
    li{
        a{
            transition: 0.3s;
            display: block;
            width: 100%;
            height: 100%;
            padding: 0.25rem 0;
            &:hover{
                color: var(--yellow);
            }
        }
    }
}