.nav{
}
.hidden{
    @media only screen and (max-width:599px) {
        display: none;
    }
}
.show{
    @media only screen and (min-width:600px) {
        display: none;
    }
    margin: 24px 0 0 ;
    ul{
        flex-direction: column;
        gap:10px ;
        align-items: start;
        li{
            
            a{
                font-size: 12px;
            }
        }
    }
}