.wrap{
  padding: 12px 0;
}
.title{
  text-align: center;
  font-weight: bold;
  &::after{
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 30px;
    background-color: var(--main);
    margin: 10px auto 0;
  }

}